name: Run Python Bot

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10.12'

    - name: Install Dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install aiogram
        python3 -m pip install gspread
        python3 -m pip install oauth2client
        
    - name: Run Python Bot
      run: |
        pkill -f main.py
        sleep 1  # Дайте время для завершения предыдущего экземпляра
        python3 main.py

