name: Python-Bot
env:
  RASPBERRY_PI_IP: 192.168.1.141

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.4

      - name: Install SSH Action
        uses: appleboy/ssh-action@0.1.4
        with:
          host: ${{ env.RASPBERRY_PI_IP }}
          username: ${{ secrets.pi }}
          password: ${{ secrets.Kirbel357 }}
          script: |
            python main.py &
